---
apiVersion: kubeadm.k8s.io/v1beta3
kind: InitConfiguration
localAPIEndpoint:
  advertiseAddress: {{ ansible_default_ipv4.address }}
  bindPort: 8443
nodeRegistration:
  criSocket: unix:///var/run/crio/crio.sock
  imagePullPolicy: IfNotPresent
  kubeletExtraArgs:
    node-ip: {{ ansible_default_ipv4.address }}
---
apiVersion: kubeadm.k8s.io/v1beta3
kind: ClusterConfiguration
controlPlaneEndpoint: {{ control_plane_hostname }}:{{ control_plane_port }}
apiServer:
  timeoutForControlPlane: 4m0s
  certSANs:
    - {{ ansible_default_ipv4.address }}
    - {{ control_plane_address }}
certificatesDir: /etc/kubernetes/pki
clusterName: {{ cluster_name }}
controllerManager: {}
dns: {}
etcd:
  local:
    dataDir: /var/lib/etcd
imageRepository: registry.k8s.io
kubernetesVersion: "1.29.0"
networking:
  dnsDomain: cluster.local
  serviceSubnet: {{ kubernetes_service_cidr }}
  podSubnet: {{ kubernetes_pod_cidr }}
scheduler: {}
