#!/bin/sh

errorExit() {
    echo "*** $1" 1>&2
    exit $2
}

nc localhost {{ virtual_server_port }} -z || errorExit "Error localhost:{{ virtual_server_port }} not open" 1
if ip addr | grep -q {{ virtual_server_ip }}; then
    nc {{ virtual_server_ip }} {{ virtual_server_port }} -z || errorExit "Error {{ virtual_server_ip }}:{{ virtual_server_port }} not open" 2
fi