#!/bin/sh

errorExit() {
    echo "*** $*" 1>&2
    exit 1
}

curl --silent --max-time 2 --insecure https://localhost:{{ virtual_server_port }}/ -o /dev/null || errorExit "Error GET https://localhost:{{ virtual_server_port }}/"
if ip addr | grep -q {{ virtual_server_ip }}; then
    curl --silent --max-time 2 --insecure https://{{ virtual_server_ip }}:{{ virtual_server_port }}/ -o /dev/null || errorExit "Error GET https://{{ virtual_server_ip }}:{{ virtual_server_port }}/"
fi