! /etc/keepalived/keepalived.conf
! Configuration File for keepalived
global_defs {
    router_id LVS_DEVEL
}

vrrp_script check_server {
  script "/etc/keepalived/check_server.sh"
  interval 3
  weight -2
  fall 10
  rise 2
}

vrrp_instance VR0 {
    state SLAVE
    interface {{ kubernetes_node_network_interface }}
    virtual_router_id 50
    priority {{ "101" if kubernetes_node_role == "leader" else "100" }}
    authentication {
        auth_type PASS
        auth_pass 12345
    }
    virtual_ipaddress {
        {{ vip }}
    }
    track_script {
        check_server
    }
}
